body{
	background:#fff;
}

#upload{
	padding:30px 0 0 40px;
}

#upload h1{
	width:85%;
	text-align:center;
}

#newRsClass{
	width:85%;
	text-align:center;
}

#newRsClass form{
	padding: 0 0 10px 0;
}

#newRsClass label{
	display:inline-block;
	width:100px;
}

#newRsClass p{
	margin:10px 0 0 0;
}

#newRsClass .but{
	margin:0 0 0 -170px;
}