<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
   
  <servlet>
  	<servlet-name>InReportServlet</servlet-name>
  	<servlet-class>com.sxpt.controller.InReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InReportServlet</servlet-name>
  	<url-pattern>/updateInReport</url-pattern>
  </servlet-mapping> 
  <servlet>
  	<servlet-name>OutReportServlet</servlet-name>
  	<servlet-class>com.sxpt.controller.OutReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OutReportServlet</servlet-name>
  	<url-pattern>/updateOutSum</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.sxpt.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LeadStuServlet</servlet-name>
  	<servlet-class>com.sxpt.controller.LeadStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LeadStuServlet</servlet-name>
  	<url-pattern>/leadStu</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>leadTeaServlet</servlet-name>
  	<servlet-class>com.sxpt.controller.LeadTeaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>leadTeaServlet</servlet-name>
  	<url-pattern>/leadTea</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddNewsServlet</servlet-name>
    <servlet-class>com.sxpt.controller.AddNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsServlet</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddBatchServlet</servlet-name>
    <servlet-class>com.sxpt.controller.AddBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchServlet</servlet-name>
    <url-pattern>/newBatch</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewDirectServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewDirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDirectServlet</servlet-name>
    <url-pattern>/newDirect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewPlanServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPlanServlet</servlet-name>
    <url-pattern>/newPlan</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DistriPlanServlet</servlet-name>
    <servlet-class>com.sxpt.controller.DistriPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistriPlanServlet</servlet-name>
    <url-pattern>/distriPlan</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NewCourseClassServlect</servlet-name>
    <servlet-class>com.sxpt.controller.NewCourseClassServlect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCourseClassServlect</servlet-name>
    <url-pattern>/newCourseClass</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewCourseServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCourseServlet</servlet-name>
    <url-pattern>/newCourse</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>AddRsToCourseServelt</servlet-name>
    <servlet-class>com.sxpt.controller.AddRsToCourseServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRsToCourseServelt</servlet-name>
    <url-pattern>/addRsToCourse</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>NewRsClassServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewRsClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRsClassServlet</servlet-name>
    <url-pattern>/newRsClass</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.sxpt.controller.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakePlanServlet</servlet-name>
    <servlet-class>com.sxpt.controller.MakePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePlanServlet</servlet-name>
    <url-pattern>/makePlan</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.sxpt.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  
  <!-- 项目 -->
  <servlet>
    <servlet-name>NewItemClassServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewItemClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewItemClassServlet</servlet-name>
    <url-pattern>/newItemClass</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewItemServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewItemServlet</servlet-name>
    <url-pattern>/newItem</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NewStageServlet</servlet-name>
    <servlet-class>com.sxpt.controller.NewStageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewStageServlet</servlet-name>
    <url-pattern>/newStage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddRsToStageServelt</servlet-name>
    <servlet-class>com.sxpt.controller.AddRsToStageServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRsToStageServelt</servlet-name>
    <url-pattern>/addRsToStage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddItemToPlanServlet</servlet-name>
    <servlet-class>com.sxpt.controller.AddItemToPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemToPlanServlet</servlet-name>
    <url-pattern>/addItemToPlan</url-pattern>
  </servlet-mapping>
</web-app>
